@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translate3d(0,-100%,0);
    }
    
    100% {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translate3d(0,100%,0);
    }
    
    100% {
        opacity; 1;
        transform: translate3d(0,0,0);
    }
}

@keyframes nav-slide-in {
    0% {
        left: 0%;
    }
    
    100% {
        left: 15;
    }
}

@media screen and (min-width: 992px) {
    .slide-down {
        -webkit-animation: slide-down 1s cubic-bezier(0.4, 0, 0.2, 1);
        -moz-animation: slide-down 1s cubic-bezier(0.4, 0, 0.2, 1);
        -o-animation: slide-down 1s cubic-bezier(0.4, 0, 0.2, 1);
        animation: slide-down 1s cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.slide-up {
    -webkit-animation: slide-up 1s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-animation: slide-up 1s cubic-bezier(0.4, 0, 0.2, 1);
    -o-animation: slide-up 1s cubic-bezier(0.4, 0, 0.2, 1);
    animation: slide-up 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-slide-in {
    -webkit-animation: nav-slide-in 1s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-animation: nav-slide-in 1s cubic-bezier(0.4, 0, 0.2, 1);
    -o-animation: nav-slide-in 1s cubic-bezier(0.4, 0, 0.2, 1);
    animation: nav-slide-in 1s cubic-bezier(0.4, 0, 0.2, 1);
}
