html {
  min-width: 320px;
  min-height: 100%;
  height: 100%;
}

body {
  background: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  position: relative;
  min-height: 100%;
}

footer {
    font-size: 0.7em;
    text-align: center;
}

header {
  text-align: center;
  background: #393943;
  height: 64px;
}

textarea {
    resize: none;
}

a,
a:hover {
    color: white;
    text-decoration: none;
}

article a {
    display: inline-block;
    font-weight: bold;
    font-size: 1.3em;
    color: #8BC34A;
    background: #000;
    padding: 3px 5px;
    margin-top: 5px;
    border-radius: 5px;
}

ul {
    padding-left: 0;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.seperator {
  margin: 50px 0;
  opacity: 0.3;
  background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(0,0,0,1) 50%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(0,0,0,1) 50%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(0,0,0,1) 50%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
  width: 100%;
  height: 1px;
}

.home {
    background-image: url('../img/dt-orlando3.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.home.bg-radial-gradient-green {
    background: rgba(0,122,100,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,122,100,1) 0%, rgba(0,77,64,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,122,100,1)), color-stop(100%, rgba(0,77,64,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,122,100,1) 0%, rgba(0,77,64,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0,122,100,1) 0%, rgba(0,77,64,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,122,100,1) 0%, rgba(0,77,64,1) 100%);
    background: radial-gradient(ellipse at center, rgba(0,122,100,1) 0%, rgba(0,77,64,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007a64', endColorstr='#004d40', GradientType=1 );
    color: white;
}

.lead {
    font-weight: 500;
}

.section-title {
    margin: 5px 0 30px;
}

.sub-title {
    font-size: 2.6em;
    margin-bottom: 30px;
}

.title {
    display: block;    
    padding: 10px 0;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/* Navigation CSS */
.nav {
  position: fixed;
  background: #171717;
  min-height: 64px;
  width: 100%;
  bottom: 0px;
  z-index: 10;
}

.nav > ul {  
  list-style-type: none;
  margin-bottom: 0px;
}

.nav li {
  float: left;
  width: 20%;
  line-height: 41px;
  border-right: 1px solid rgba(0,0,0,0.5);
}

.nav .fa {
  display: block;
  position: relative;
  font-size: 22px;
  top: 10px;
}

.nav li:last-child {
  border-right: none;
}

.copyright {
    width: 100%;
    position: absolute;
    bottom: 64px;
    background: black;
    margin: 0;
    font-size: 9px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: white;
}

/* Background colors */
.ffa-bg {
    background: #0288D1;
}

.bookit-bg {
    background: #64DD17;
}

.light-green {
    background: #DCEDC8;
}

.light-blue-100 {
    background: #B3E5FC;
}

.light-blue-200 {
    background: #81D4FA;
}

.light-brown-100 {
    background: #D7CCC8;
}

.csky-bg {
    background: #03A9F4;
}

.ups-bg {
    background: #351C15;
}

/* Work History CSS */
.work-history .company-name {
    font-size: 16px;
    font-weight: bold;
}

.work-history .button {
    font-size: 14px;
    color: white;
    line-height: 50px;
    text-align: left;
    padding-left: 20px;
    border-radius: 5px;
    margin: 0 auto;
    z-index: 5;
}

.work-history .details {
    max-height: 0;
    z-index: 1;
    color: black;
    display: block;
    text-align: left;
    overflow: hidden;
    line-height: 1.5em;
    padding-left: 30px;
    padding-right: 30px;
    transition: max-height 0.5s ease-in;
  }

.work-history .details.show {
    max-height: 1000px;
}

.work-history .details li {
    margin-top: 0px;
    margin-bottom: 5px;
}

.work-history .details ul {
    padding-left: 0px;
}

.details li:first-child {
    padding-top: 15px;
}

.details li:last-child {
    padding-bottom: 15px;
}

.work-history .button .arrow {
    float: right;
    position: relative;
    top: 16px;
    right: 24px;
    font-size: 18px;
}

.work-history .job {
    padding: 10px 0px;
    overflow: hidden;
}

.timeline {
    margin-top: 20px;
    margin-bottom: 20px;    
}

.timeline .date {
    font-size: 12px;
    font-style: italic;
}

.timeline .point {
    position: relative;
    top: 5px;
    width: 13px;
    height: 13px;
    display: block;
    border-radius: 50%;
    border: 3px solid black;
}

.timeline .line {
    width: 75%;
    margin: 0 auto;
    padding-bottom: 10px;
    border-bottom: 3px solid rgba(0,0,0,0.5);
}

.duties {
    margin-top: 10px;
}

/*Instragram CSS filter*/
.ig-sierra {
  -webkit-filter: contrast(0.8) saturate(1.2) sepia(0.15);
  filter: contrast(0.8) saturate(1.2) sepia(0.15);
}

.owl-carousel img {
    width: 150px;
    height: 150px;
}
.owl-carousel .item {
    text-align: center;
}

.about,
.portfolio {
    background: rgba(0,122,100,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,122,100,1) 0%, rgba(0,77,64,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,122,100,1)), color-stop(100%, rgba(0,77,64,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,122,100,1) 0%, rgba(0,77,64,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0,122,100,1) 0%, rgba(0,77,64,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,122,100,1) 0%, rgba(0,77,64,1) 100%);
    background: radial-gradient(ellipse at center, rgba(0,122,100,1) 0%, rgba(0,77,64,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007a64', endColorstr='#004d40', GradientType=1 );
    color: white;
}

#hamburger-icon {
    float: left;
    height: 92px;
    color: #8BC34A;
    line-height: 92px;
    cursor: pointer;
}

#profile-pic {
    max-width: 100%;
    height: auto;
    max-height: 520px;
}

#resume .skills,
#profile .intro {
    margin-bottom: 120px;
}

.resume,
.contact {
  background: #ECEFF1;
}

@media screen and (min-width: 768px) {
    .form-horizontal .control-label {
        text-align: left;
    }
}

@media screen and (min-width: 992px) {
    .home.page .copyright,
    .portfolio .copyright,
    .contact .copyright,
    .about .copyright {
        position: absolute;
        bottom: 0px;
        width: 85%;
    }
    .copyright {
        height: 60px;
        font-size: 16px;
        line-height: 60px;
        color: white;
    }
    .nav-open {
       transform: translate3d(15%,0,0);       
    }    
    .work-history .details {
        max-height: none;
    }
    .site {
        width: 85%;
        float: right;
    }
    body {
        transition: transform .3s cubic-bezier(0.4, 0, 0.2, 1);
    }
    header {
        position: relative;
        height: 92px;
        padding: 0 30px;
        z-index: 1000;
    }
    
    header .title {
        display: inline-block;
        position: relative;
        top: 5px;
        font-size: 3em;
        height: 92px;        
    }
    
    #intro {
        background: rgba(0,0,0,0.3);
        padding: 100px 60px 30px;
    }
    
    #nav {    
        width: 15%;
        top: 0px;
        height: 100%;
        position: fixed;
        background: #8BC34A;
        padding-left: 10px;
        z-index: 2000;
    }

    #nav ul {
        display: inline-block;
        position: relative;
        color: white;
        font-size: 20px;
    }

    #nav li {
        height: 35px;
        margin: 25px 0px;
    }

    #nav i {
        margin-right: 10px;
/*        font-size: 28px;*/
    }

    #nav a {
        transition: all .3s cubic-bezier(0, 0, 0.2, 1);
    }

    #nav a:hover {
        font-size: 21px;
        color: #309BF7;
        transition: all .3s cubic-bezier(0, 0, 0.2, 1);
    }
    #resume .skills {
        margin-bottom: 50px;
    }
}